<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="login.css">
</head>
<body>
	
</body>
</html>




<h1>Login</h1>

<form action="/login" method="POST">
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>login</button>
</form>

<h1>TriPOS</h1>
<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
