<div id="menu">
    <h2>Menu</h2>
    <div class="item">
      <h3>Item 1</h3>
      <span>$10</span>
      <button onclick="addItem(10)">Add to Cart</button>
    </div>
    <div class="item">
      <h3>Item 2</h3>
      <span>$15</span>
      <button onclick="addItem(15)">Add to Cart</button>
    </div>
    <div class="item">
      <h3>Item 3</h3>
      <span>$20</span>
      <button onclick="addItem(20)">Add to Cart</button>
    </div>
  </div>
  
  
  
    <script src="/js/menu.js"></script>
    <script src="/js/cart.js"></script>


    