<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Products Page</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((product) => { %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td>
                <form action="/cart" method="POST">
                  <input type="hidden" name="action" value="add">
                  <input type="hidden" name="productId" value="<%= product.id %>">
                  <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      <a href="/cart">Go to Cart</a>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>

</html>
